@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Kreon:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "KOULEN", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #212529;
}

ul {
    position: relative;
}

ul li {
    list-style: none;
    text-align: center;
}

ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 4em;
    padding: 1px 20px;
    display: inline-flex;
    font-weight: 800;
    transition: 0.5s;
}

ul:hover li a {
    color: rgb(0, 0, 0);
}

ul li:hover a {
    color: rgb(62, 152, 255);
    background: rgb(255, 255, 255);
    border-radius: 30px;
}