@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

ul {
    position: relative;
}

ul li {
    list-style: none;
    text-align: center;
}

ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
}

ul:hover li a {
    color: #0002;
}

ul li:hover a {
    color: #000;
    background: rgb(255, 255, 255);
    border-radius: 30px;
}

ul li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.253);
    border-radius: 200px;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 50px;
    transition: letter-spacing 0.5s, left 0.5s;
}

ul li a:hover:before {
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 1800px;
    height: 930px;
}

ul li:nth-child(6n+1) a:before {
    background: #00BCF0;
}

ul li:nth-child(6n+2) a:before {
    background: #7786F0;
}

ul li:nth-child(6n+3) a:before {
    background: #80F06E;
}

ul li:nth-child(6n+4) a:before {
    background: #F0A156;
}

ul li:nth-child(6n+5) a:before {
    background: #F0D062;
}

ul li:nth-child(6n+6) a:before {
    background: #F06266;
}