@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 600;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    animation: animateBg 14s linear infinite;
    background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 33, 41), rgb(0, 13, 56), rgb(0, 24, 36), rgb(0, 0, 0));
    background-size: 400% 100%;
    background-color: black;
    width: 100%;
    padding: 3% 4%;
}

@keyframes animateBg {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.container_registro {
    position: relative;
    top: 20%;
}

.registro {
    position: relative;
    font-size: 600%;
    background: #2c14ff;
    background: -webkit-linear-gradient(to right, #2c14ff 0%, #00bacf 100%);
    background: -moz-linear-gradient(to right, #2c14ff 0%, #00bacf 100%);
    background: linear-gradient(to right, #2c14ff 0%, #00bacf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

#registersquare {
    height: 30%;
    width: 90%;
    top: 25%;
    left: 0%;
    max-width: 900px;
    max-height: 280px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: -webkit-linear-gradient(to right, #2c14ff 0%, #00bacf 100%);
    background: -moz-linear-gradient(to right, #2c14ff 0%, #00bacf 100%);
    background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
    -webkit-background-clip: border-box;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    display: block;
}

.email {
    width: 49%;
    height: 20%;
    border-radius: 20px;
    border-style: none;
    position: absolute;
    left: 0.5%;
    top: 1%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.senha {
    width: 49%;
    height: 20%;
    border-radius: 20px;
    border-style: none;
    position: absolute;
    left: 50.5%;
    top: 1%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nome {
    width: 49%;
    height: 20%;
    border-radius: 20px;
    border-style: none;
    position: absolute;
    left: 0.5%;
    top: 26%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.sobrenome {
    width: 49%;
    height: 20%;
    border-radius: 20px;
    border-style: none;
    position: absolute;
    left: 50.5%;
    top: 26%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.rg {
    width: 49%;
    height: 20%;
    border-radius: 20px;
    border-style: none;
    position: absolute;
    left: 0.5%;
    top: 51%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.cpf {
    width: 49%;
    height: 20%;
    border-radius: 20px;
    border-style: none;
    position: absolute;
    left: 50.5%;
    top: 51%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.registerbutton {
    position: absolute;
    height: 20%;
    width: 50%;
    top: 75%;
    left: 25%;
    border-radius: 15px;
    border-style: none;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}